*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
}

#toolbar{
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #111;
}

#canvas{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}

/* Selected element */
.selected {
  outline: 2px solid blue;
  cursor: move;
}

/* Resize handles */
.resize-handle {
  width: 8px;
  height: 8px;
  background: blue;
  position: absolute;
}

/* Corner positions */
.tl { top: 0; left: 0; transform: translate(-50%, -50%); }
.tr { top: 0; right: 0; transform: translate(50%, -50%); }
.bl { bottom: 0; left: 0; transform: translate(-50%, 50%); }
.br { bottom: 0; right: 0; transform: translate(50%, 50%); }
