*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#toolbar{
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #111;
}

#canvas{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}